body{
    background-color: rgb(158, 79, 231);
}

h1{
    color:deepskyblue;
    background-color: black;
}

#show_sketch
{
    float:right;
}

canvas{
    border:5px solid snow ;
    border-radius:20px;
    animation-name: animation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes animation{
    from {box-shadow : 1px 1px 38px coral;}
    to {box-shadow: 1px 1px 38px yellow;}
 }

 p {
    padding-top: 10px;
    font-size: 25px;
 }